/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

input, select, textarea {
    background-color:@color-background-1;
    border:1px @color-border-1 solid;
    border-radius: 4px;
}
input[type="select"], input[type="text"], textarea, select {
    background-image: url(/bundles/lldc/images/amnerian_cross.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    text-indent: 16px;
}
textarea {
    width: 300px;
    height: 100px;
}
input[type="select"], input[type="text"] {
    width: 140px;
    height: 17px;
}
input[type="file"] {
    width: 250px;
}
select {
    width: 140px;
    height: 20px;
}
input:hover, select:hover, textarea:hover {
    background-color:@color-background-2;
    border:1px @color-border-2 solid;
}
input:focus, select:focus, textarea:focus {
    background-color:@color-border-1;
    border:1px @color-border-2 solid;
}
