/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

fieldset.searchUser {
    font-size: 11px;
    text-align: center;
    width:450px;
    margin: auto;
}
.searchUserResult {
    background-color:@color-background-1;
    border:1px @color-border-1 solid;
    border-radius: 4px;
    position:absolute;
	top:inherit;
	left:center;
	max-height:300px;
	margin:auto;
	text-align:center;
	overflow-y:auto;
	overflow-x:hidden;
	z-index:2;
    font-size:8pt;
}
.searchUserResult table {
	width:450px;
	margin:auto;
}
.searchUserResult table th {
    font-weight: bold;
    text-align: center;
}
.searchUserResult table tr.result {
    cursor: pointer;
}
.searchUserResult table tr.result:hover {
    background-color:@color-background-2;
    border-top:1px @color-border-2 solid;
    border-bottom:1px @color-border-2 solid;
}
.searchUserResult table tr.selected {
    background-color:@color-background-3;
    border-top:1px @color-border-2 solid;
    border-bottom:1px @color-border-2 solid;
}
