{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle::logged_in.html.twig" %}

{% block title %}
    Gérez vos champs de bataille !
{% endblock %}

{% block page_title %}
    Gérez vos champs de bataille !
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/bundles/lldc/css/battlefield.css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/bundles/lldc/js/d3.v3.min.js"></script>
    <script src="/bundles/lldc/js/d3.hexbin.v0.min.js"></script>
    <script src="/bundles/lldc/js/battlefield.js"></script>
{% endblock %}

{% block body %}
    {% for bf in battlefields %}
        <div class="battlefield-cont" id="battlefield-cont_{{loop.index}}"><div class="battlefield" id="battlefield_{{loop.index}}"></div></div>
        <script>
            var bf = new Battlefield({{ bf.getId() }}, "battlefield-cont_{{loop.index}}", "battlefield_{{loop.index}}");
        </script>
    {% endfor %}
{% endblock body %}
