{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        <title>{%block title_prefix %}{% endblock %}{% block title %}{% endblock %} - Les Larmes du Chaos</title>

        {# FOSJsRoutingBundle #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {# CSS #}
        {% stylesheets filter='lessphp' output='bundles/lldc/css/compiled/main.css'
            '@LLDCBundle/Resources/public/less/lldc.less'
        %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}

        <link rel="stylesheet" type="text/css" href="/bundles/lldc/css/buttons/theme{% block theme_button %}1{% endblock %}.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/bundles/lldc/css/plugin/ui/jquery-ui-1.9.2.custom.css" />
        {% block css %}{% endblock %}

        {# Javascript #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

        {% javascripts
            '@LLDCBundle/Resources/public/js/lldccode.js'
            '@LLDCBundle/Resources/public/js/main.js'
            '@LLDCBundle/Resources/public/js/plugin/ui/jquery-ui-1.9.2.custom.min.js'
            '@LLDCBundle/Resources/public/js/plugin/noty/jquery.noty.js'
            '@LLDCBundle/Resources/public/js/plugin/noty/layout/topLeft.js'
            '@LLDCBundle/Resources/public/js/plugin/noty/themes/default.js'
            output='bundles/lldc/js/compiled/lldc.js' %}
        {% endjavascripts %}
        <script type="text/javascript" src="/bundles/lldc/js/compiled/lldc.js"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="main">
            {% block dev_debug %}{% endblock %}
            <div id="logo">
                <div id="logo2">
                    {% block panel %}{% endblock %}
                </div>
            </div>

            <header>
                <nav>
                    {% block top_navigation %}{% endblock %}
                </nav>
            </header>

            <div id="page">
                <div id="left_menu">
                    {% block left_menu %}{% endblock %}
                </div>

                <div id="content">
                    <h1>{% block page_title %}{% endblock %}</h1>

                    {% block tabs_block %}{% endblock %}

                    <div id="body">
                        <div class="parchment">{% block body %}{% endblock %}</div>
                    </div>
                </div>

            </div>

            <footer>

            </footer>
        </div>

        {# Gestion des flash messages / notifications #}
        {% for type, flashMessage in app.session.flashbag.all() %}
            <div class="{{ type }}">{{ flashMessage.0 }}</div>
        {% endfor %}
    </body>
</html>

<script type="text/javascript">
    {# Translations available in javascript, by calling trans(key) #}
    var translation = [];
    translation['general.time.days'] = '{{ 'general.time.days'|trans }}';
    translation['general.time.day'] = '{{ 'general.time.day'|trans }}';
    translation['general.time.hours'] = '{{ 'general.time.hours'|trans }}';
    translation['general.time.hour'] = '{{ 'general.time.hour'|trans }}';
    translation['general.time.minutes'] = '{{ 'general.time.minutes'|trans }}';
    translation['general.time.minute'] = '{{ 'general.time.minute'|trans }}';
    translation['general.time.seconds'] = '{{ 'general.time.seconds'|trans }}';
    translation['general.time.second'] = '{{ 'general.time.second'|trans }}';
    translation['general.time.less-minute'] = '{{ 'general.time.less-minute'|trans }}';
    translation['general.time.soon'] = '{{ 'general.time.soon'|trans }}';
    function trans(key) {
        return translation[key];
    }

    {# This is the server's hour #}
    var timestamp = {{ date().timestamp }};
    setInterval(function() { timestamp++; }, 1000);

    {% block executeJavascript %}{% endblock %}
</script>
