{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle:Research:research.html.twig" %}
{% import "LLDCBundle:Overall:images.html.twig" as images %}
{% import "LLDCBundle:Overall:util.html.twig" as util %}

{% block title_suffix %}
    {% trans from "pages" %}research.todo.list.title{% endtrans %}
{% endblock %}

{% block page_title %}
    {% trans from "pages" %}research.todo.list.name{% endtrans %}
{% endblock %}

{% block body %}
    <p>{% trans from "pages" %}research.todo.list.description{% endtrans %}</p>

    {% if hasOngoingResearch %}
        <fieldset>
        <legend>{{ 'realm.researches.ongoing.label'|trans() }}</legend>
    
            <b>{{ ('researches.' ~ app.session.get('race') ~ '.' ~ ongoingResearch.fullname ~ '.label')|trans({}, 'researches') }}</b><br />
            <i>{{ ('researches.' ~ app.session.get('race') ~ '.' ~ ongoingResearch.fullname ~ '.description')|trans({'research.value': ongoingResearch.value}, 'researches') }}</i>
            <br /><br />
            La recherche se terminera {{ util.toDate(ongoingResearch.ongoing.dateEnd) }}
            <br />
            Dans {{ util.remainingTime(ongoingResearch.ongoing.dateEnd) }}
        </fieldset>
    {% endif %}

    <table>
        {% for research in researches %}
            {% if part is defined and part != research.part or part is not defined %}
                {% set part = research.part %}
                <tr>
                    <td colspan="3">{{ ('researches.' ~ app.session.get('race') ~ '.' ~ research.part ~ '.label')|trans({}, 'researches') }}</td>
                </tr>
            {% endif %}
            <tr class="valign_top alternance{{ loop.index is odd ? 1 : 2 }}">
                <td>
                    <b>{{ ('researches.' ~ app.session.get('race') ~ '.' ~ research.fullname ~ '.label')|trans({}, 'researches') }}</b><br />
                    <i>{{ ('researches.' ~ app.session.get('race') ~ '.' ~ research.fullname ~ '.description')|trans({'research.value': research.value}, 'researches') }}</i>
                </td>
                <td>

                    {# Cost #}
                    <b>{% trans %}general.cost{% endtrans %}</b><br />
                    {% if research.food > 0 %}
                        {{ images.resource('food') }} <span class="{{ research.food > resources.food ? 'red' : 'green' }}"><b>{{ util.format(research.food) }}</b></span>
                    {% endif %}
                    {% if research.wood > 0 %}
                        {{ images.resource('wood') }} <span class="{{ research.wood > resources.wood ? 'red' : 'green' }}"><b>{{ util.format(research.wood) }}</b></span>
                    {% endif %}
                    {% if research.gold > 0 %}
                        {{ images.resource('gold') }} <span class="{{ research.gold > resources.gold ? 'red' : 'green' }}"><b>{{ util.format(research.gold) }}</b></span>
                    {% endif %}
                    {% if research.rock > 0 %}
                        {{ images.resource('rock') }} <span class="{{ research.rock > resources.rock ? 'red' : 'green' }}"><b>{{ util.format(research.rock) }}</b></span>
                    {% endif %}
                    {% if research.madrens > 0 %}
                        {{ images.resource('madrens') }} <span class="{{ research.madrens > resources.madrens ? 'red' : 'green' }}"><b>{{ util.format(research.madrens) }}</b></span>
                    {% endif %}

                    {# Successors #}
                    {% if research.successor|length > 0 %}
                        <br /><b>{% trans %}general.successor{% endtrans %}</b>
                        <ul>
                        {% for successor in research.successor %}
                            <li class="help" title="{{ ('researches.' ~ app.session.get('race') ~ '.' ~ successor.fullname ~ '.description')|trans({'research.value': successor.value}, 'researches') }}">
                            {{ ('researches.' ~ app.session.get('race') ~ '.' ~ successor.fullname ~ '.label')|trans({}, 'researches') }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                </td>
                <td>
                    {% if 
                        hasOngoingResearch == 0 and 
                        research.food <= resources.food and 
                        research.wood <= resources.wood and 
                        research.gold <= resources.gold and 
                        research.rock <= resources.rock and
                        research.madrens <= resources.madrens %}
                    <form action="{{ path('researchDevelop') }}" method="post">
                        <input type="hidden" name="research" value="{{ research.fullname }}" />
                        <input type="submit" value="{% trans %}realm.researches.todo.submit{% endtrans %}" />
                    </form>
                    {% else %}
                        <input type="button" class="locked" value="{% trans %}realm.researches.todo.submit{% endtrans %}" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
