/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

#slider {
    width: 500px;
    margin: auto;
	margin-top: 10px;
	color: #000000;
	border-radius: 3;
}
#slider ul, #slider li{
	margin: 0;
	padding: 0;
	list-style: none;
}
#slider, #slider li{
	width: 500px;
	height: 50px;
	font-size: 0.9em;
	overflow: hidden;
}
#nextBtn, #prevBtn {
    display: none;
}
.width30p { width: 30px; }
.width60p { width: 60px; }
.width430p { width: 430px; }
.width460p { width: 460px; }

#detailsPeuple {
    height: 400px;
    width: 70%;
}
.bonus {
    color: #000000;
    background-color:#4B7C53;
    border:1px #AA823B solid;
}
.malus {
    color: #000000;
    background-color:#A23E3E;
    border:1px #AA823B solid;
}
