{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% import "LLDCBundle:Overall:images.html.twig" as images %} {# Loading the macros, referenced as images.xxx() #}
{% import "LLDCBundle:Overall:util.html.twig" as util %} {# Loading the macros, referenced as util.xxx() #}

{% block panel %}
<div id="panel">
    <div class="align-right"><a href="{{ path('fos_user_security_logout') }}"><img src="/bundles/lldc/images/icons/logout.png" title="Se déconnecter du jeu" /></a></div>
    <fieldset>
        <legend>Ressources</legend>
        <table>
            <tr>
                <td>{{ images.resource('food', 15) }} {{ util.format(food) }}&nbsp;</td>
                <td>{{ images.resource('wood', 15) }} {{ util.format(wood) }}&nbsp;</td>
                <td>{{ images.resource('gold', 15) }} {{ util.format(gold) }}&nbsp;</td>
                <td>{{ images.resource('rock', 15) }} {{ util.format(rock) }}&nbsp;</td>
                <td>{{ images.resource('madrens', 15) }} {{ util.format(madrens) }}&nbsp;</td>
                <td>{{ images.resource('arpents', 15) }} TODO</td>
            </tr>
            <tr>
                <td>{{ images.resource('points', 15) }} {{ util.format(points.value) }}&nbsp;</td>
                <td>{{ images.resource('xp', 15) }} {{ util.format(xp.value) }}&nbsp;</td>
                <td>{{ images.resource('weather', 15) }} TODO&nbsp;</td>
                <td>{{ images.resource('morale', 15) }} <span title="{{ moraleValue }}">{{ morale|capitalize }}</span></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>Classements</legend>
        <table>
            <tr>
                <td class="bold">Points</td>
                <td class="bold">XP</td>
                <td class="bold">Récompenses</td>
            </tr>
            <tr>
                <td>{% if points.position==1 %}<span class="green bold">1er</span>{% else %}{{ points.position }}{% endif %}</td>
                <td>{% if xp.position==1 %}<span class="green bold">1er</span>{% else %}{{ xp.position }}{% endif %}</td>
                <td>{% if awards.position==1 %}<span class="green bold">1er</span>{% else %}{{ awards.position }}{% endif %}</td>
            </tr>
        </table>
    </fieldset>
</div>
{% endblock %}
