{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

<fieldset class="searchUser">
    <legend>Recherche d'un membre</legend>
    <label title="Rechercher par nom de membre" class="searchUserOptionUsername">Membre <input type="checkbox" /></label>
    {# We only display the "Game" option if it's explicitly requested #}
    {% if withGame is defined and withGame == true %}
        <label title="Seulement sur cette partie" class="searchUserOptionGameOnly">Partie <input type="checkbox" checked="checked" /></label>
    {% endif %}
    <label title="Rechercher par nom de seigneur" class="searchUserOptionCharacter">Seigneur <input type="checkbox" checked="checked" /></label>
    <label title="Rechercher par nom de royaume" class="searchUserOptionPlace">Royaume <input type="checkbox" checked="checked" /></label>
    <br />
    <input type="text" class="searchUserField" />
    <input type="hidden" name="call" value="{{ call }}" />
    <div class="searchUserResult"></div>
</fieldset>
