{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{# Formats a number (ex. 1000 -> 1 000) #}
{% macro format(number) %}
    {# I can't find another way to check if the number is a float or an integer #}
    {% if number == number|round(0, 'ceil') and number == number|round(0, 'floor')  %}
        {% set decimal = 0 %}
    {% else %}
        {# It allows us to check if there is one or two decimals, and to adjust the display #}
        {% if number == number|round(1, 'ceil') and number == number|round(1, 'floor')  %}
            {% set decimal = 1 %}
        {% else %}
            {% set decimal = 2 %}
        {% endif %}
    {% endif %}
    {{ number|number_format(decimal, '.', ' ') }}
{% endmacro %}

{# Displays the DateTime given #}
{% macro toDate(date, formatDay, formatHour) %}
    {% if formatDay is null %}
    {% set formatDay = 'full' %}
    {% endif %}
    {% if formatHour is null %}
    {% set formatHour = 'none' %}
    {% endif %}
    {% spaceless %}
        {# Slice 0,2 cut the locale string, and remove the "RP" if there is one. So we have fr locale for dates if locale if fr or frRP. #}
        {{ date | localizeddate(formatDay, formatHour, app.request.locale|slice(0,2)) }}
    {% endspaceless %}
{% endmacro %}

{# Displays the remaining time until the DateTime given #}
{% macro remainingTime(until) %}
    {% set diff = until.diff(date()) %}
    {% set display = "" %}
    {% if until > date() %}
        {% if diff.format("%d") > 0 %}
            {% set display = display ~ diff.format("%d " ~ (diff.format("%d")>1 ? 'general.time.days'|trans : 'general.time.day'|trans) ~ " ") %}
        {% endif %}
        {% if diff.format("%h") > 0 %}
            {% set display = display ~ diff.format("%h " ~ (diff.format("%h")>1 ? 'general.time.hours'|trans : 'general.time.hour'|trans) ~ " ") %}
        {% endif %}
        {% if diff.format("%i") > 0 %}
            {% set display = display ~ diff.format("%i " ~ (diff.format("%i")>1 ? 'general.time.minutes'|trans : 'general.time.minute'|trans) ~ " ") %}
        {% endif %}
        {% if diff.format("%s") > 0 %}
            {% if display != "" %}
                {{ display ~ diff.format("%s " ~ (diff.format("%s")>1 ? 'general.time.seconds'|trans : 'general.time.second'|trans) ~ " ") }}
            {% else %}
                {{ 'general.time.less-minute'|trans }}
            {% endif %}
        {% endif %}
    {% else %}
        {{ 'general.time.soon'|trans }}
    {% endif %}
{% endmacro %}

{% macro realm(realm, args) %}
    {% set args = {
        display: 'default'
    }|merge(args) %}

    {% import _self as self %}

    {% if args.display == 'default' %}
        {{ self.realm_fieldset(realm, args) }}
    {% elseif args.display == 'inline' %}
        {{ self.realm_inline(realm, args) }}
    {% endif %}
{% endmacro %}

{% macro realm_fieldset(realm, args) %}
    <fieldset>
        <legend>{{ realm.character.name }}</legend>
    </fieldset>
{% endmacro %}

{% macro realm_inline(realm, args) %}
    {% from 'LLDCBundle:Overall:images.html.twig' import avatar_path %}
    <a href="{{ path('userProfile', { userId: realm.user.id }) }}" title="Joueur <b>{{ realm.user.username }}</b>">
        <span class="internal_block_grey" style="display:inline-block;">
        <img src="{{ avatar_path(realm.character, { height: 40 }) }}" height="40" />
        <span style="padding: 0 10px 0 10px">{{ realm.character.name }}</span>
        </span>
    </a>
{% endmacro %}
