{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle::logged_out.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block page_title %}Les Larmes du Chaos{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/bundles/lldc/css/default/index.css" media="screen" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/bundles/lldc/js/default/index.js"></script>
    <script type="text/javascript" src="/bundles/lldc/js/plugin/easySlider/easySlider.js"></script>
{% endblock %}

{% block before_body %}
<div id="slider" class="internal_block">
	<ul>
		<li>
            <div class="left width60p"><img src="/bundles/lldc/images/icons/food.png" title="Nourriture" /> <img src="/bundles/lldc/images/icons/wood.png" title="Bois" /><br /><img src="/bundles/lldc/images/icons/gold.png" title="Or" /> <img src="/bundles/lldc/images/icons/rock.png" title="Pierre" /></div>
            <div class="right width430p">La <b>nourriture</b>, le <b>bois</b>, l'<b>or</b> et la <b>pierre</b> permettent de former des unités, construire des bâtiments, développer des recherches. Ces ressources sont produites directement par les <b>villageois</b>.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/madrens.png" title="Mädrens" /></div>
            <div class="right width460p">Le <b>Mädrin</B> est la monnaie du jeu. Il peut servir à acheter des ressources de base, former des <b>unités spéciales</b>, développer des <b>recherches</b>, envoyer des <b>espions</b> en mission, acheter et vendre des objets ou des arpents au <b>marché noir</b>...</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/morale.png" title="Moral" /></div>
            <div class="right width460p">Le <b>moral</b> de votre population influe sur la vaillance de vos unités au <b>combat</b> ainsi que sur la <b>productivité</b> de vos villageois.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/weather.png" title="Météo" /></div>
            <div class="right width460p">La <b>météo</b> est un paramètre qu'il ne faut pas négliger lors de vos <b>batailles</b>. En effet, vos unités peuvent être affectées par les éléments. La <b>productivité</b> de vos villageois est aussi affectée.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/arpents.png" title="Arpents" /></div>
            <div class="right width460p">Les <b>arpents</b> représentent l'étendue de votre territoire. Elles sont indispensables pour construire vos <b>bàtiments</b>, car chacun d'eux prend une certaine place sur vos terres.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/xp.gif" title="Expérience" /></div>
            <div class="right width460p">L'<b>expérience</b> se gagne de diverses façons, principalement en <b>combat</b> car vous gagnez de l'XP pour chaque unité tuée. L'XP vous permet de faire évoluer vos armées, vos bàtiments ou d'autres facettes du jeu.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/building.png" title="Construction"  /></div>
            <div class="right width460p">Pour lever une armée imposante, il vous faudra <b>construire</b> des bàtiments. Ils vous permettent de former pas moins de <b>10 types d'unités différentes</b> pour chacune des <b>5 races</b> du jeu.</div>
            <div class="clear"></div>
		</li>
		<li>
            <div class="left width30p"><img src="/bundles/lldc/images/icons/help.png" title="Aide"></div>
            <div class="right width460p"><b>Les Larmes du Chaos</b> (LLDC) est un jeu de rôle et de <b>stratégie</b> médiéval fantastique totalement <b>gratuit</b>, axé sur le <b>RolePlay</b> (RP). Guerre, commerce, espionnage, chasseurs de primes, alliances... À vous de découvrir ce monde.</div>
            <div class="clear"></div>
		</li>
	</ul>
</div>
<div class="align-center">
    <img src="/bundles/lldc/images/icons/arrow_left.png" class="pointer" title="Afficher l'information précédente." id="sliderPrev" />
    <img src="/bundles/lldc/images/icons/arrow_right.png" class="pointer" title="Afficher l'information suivante." id="sliderNext" />
</div>

{% endblock %}

{% block body %}
    <div class="left width50">
        <p>
        Bienvenue sur Les Larmes du Chaos : incarnez un elfe, un humain, un nain, un nécromant ou encore un rhork ! Etablissez votre royaume dans la contrée de Madrona, développez votre économie, commercez avec vos alliés, formez vos armées... Faites que tous ici se souviennent de votre nom.
        </p>

        <p>
        n Dames et Seigneurs ont entamé la construction de leur royaume. Venez vous aussi participer aux grandes batailles de notre temps, aux duels mémorables de héros. Entrez dans l'aventure, et tentez de capturer l'artefact ultime : les Larmes du Chaos.
        </p>
    </div>
    <div class="internal_block right width50">
        {% block register %}{% endblock %}
    </div>
    <div class="clear"></div>
{% endblock %}
