{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "::base.html.twig" %}

{% if form is defined %}
    {% form_theme form with 'LLDCBundle:Form:form_theme.html.twig' %}
{% endif %}

{% block title_prefix %}LLDCv2 - {% endblock %}

{% set menu = app.session.get('menu') %}
{% set game = app.session.get('game') %}

{% block top_navigation %}
<select id="menu">
    <option value="0" selected="selected">- Menu -</option>
    <option value="{{ path('profile') }}">{{ menu.profile.label }}</option>
    <option value="">{{ menu.amneroth.label }}</option>
    <option value="">{{ menu.help.label }}</option>
    <option value="">{{ menu.trombino.label }}</option>
    <option value="">{{ menu.history.label }}</option>
    <option value="">{{ menu.tutorial.label }}</option>
    <option value="{{ path('ranking') }}">{{ menu.ranking.label }}</option>
    <option value="0">----------------</option>
    <option value="{{ path('realm') }}">{{ menu.realm.label }}</option>
    <option value="{{ path('academy') }}">{{ menu.academy.label }}</option>
    <option value="">{{ menu.temple.label }}</option>
    <option value="{{ path('research') }}">{{ menu.research.label }}</option>
    <option value="">{{ menu.market.label }}</option>
    <option value="{{ path('war') }}">{{ menu.war.label }}</option>
    <option value="">{{ menu.secret.label }}</option>
    <option value="{{ path('arena') }}">{{menu.hero.label }}</option>
    <option value="{{ path('library') }}">{{ menu.library.label }}</option>
    <option value="">{{ menu.guild.label }}</option>
    <option value="{{ path('messenger') }}">{{ menu.messenger.label }}</option>
    <option value="">{{ menu.other.label }}</option>
</select>
<ul>
    <li><a href="{{ path('profile') }}" title="{{ menu.profile.description }}">{{ menu.profile.label }}</a></li>
    <li><a href="" title="{{ menu.amneroth.description }}">{{ menu.amneroth.label }}</a></li>
    <li><a href="" title="{{ menu.help.description }}">{{ menu.help.label }}</a></li>
    <li><a href="" title="{{ menu.trombino.description }}">{{ menu.trombino.label }}</a></li>
    <li><a href="" title="{{ menu.history.description }}">{{ menu.history.label }}</a></li>
    <li><a href="" title="{{ menu.tutorial.description }}">{{ menu.tutorial.label }}</a></li>
    <li><a href="{{ path('ranking') }}" title="{{ menu.ranking.description }}">{{ menu.ranking.label }}</a></li>
</ul>
{% endblock %}

{% block left_menu %}
<ul>
    <li><a href="{{ path('realm') }}" title="{{ menu.realm.description }}">{{ menu.realm.label }}</a></li>
    <li><a href="{{ path('academy') }}" title="{{ menu.academy.description }}">{{ menu.academy.label }}</a></li>
    <li><a href="" title="{{ menu.temple.description }}">{{ menu.temple.label }}</a></li>
    <li><a href="{{ path('research') }}" title="{{ menu.research.description }}">{{ menu.research.label }}</a></li>
    <li><a href="" title="{{ menu.market.description }}">{{ menu.market.label }}</a></li>
    <li><a href="{{ path('war') }}" title="{{ menu.war.description }}">{{ menu.war.label }}</a></li>
    <li><a href="" title="{{ menu.secret.description }}">{{ menu.secret.label }}</a></li>
    <li><a href="{{ path('arena') }}" title="{{ menu.hero.description }}">{{ menu.hero.label }}</a></li>
    <li><a href="{{ path('library') }}" title="{{ menu.library.description }}">{{ menu.library.label }}</a></li>
    <li><a href="" title="{{ menu.guild.description }}">{{ menu.guild.label }}</a></li>
    <li><a href="{{ path('messenger') }}" title="{{ menu.messenger.description }}">{{ menu.messenger.label }}</a></li>
    <li><a href="" title="{{ menu.other.description }}">{{ menu.other.label }}</a></li>
</ul>
{% endblock %}

{% block panel %}
    {# Renders the method LLDCBundle\OverallController\panelAction(); which fetchs panel data and displays it #}
    {{ render(controller("LLDCBundle:Overall:panel")) }}
{% endblock %}

{% block tabs_block %}
	{# Renders the method LLDCBundle\OverallController\tabsAction(); with the current controller in argument #}
	{{ render(controller("LLDCBundle:Overall:tabs", { "callFrom" : app.request.attributes.get("_controller") })) }}
{% endblock %}

{% block executeJavascript %}
    {% include 'LLDCBundle:js:pushNotification.js.twig' %}
{% endblock %}
