/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

.battlefield-cont{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.battlefield-mesh {
  fill: none;
  stroke: #fff;
  stroke-width: 0px;
}

.battlefield-anchor path {
  fill: none;
  stroke: #000;
  pointer-events: all;
}

.actionable path {
    stroke: #0f0;
    stroke-width: 2px
}
.selected path {
    stroke: #f00;
    stroke-width: 5px
}

.battlefield-anchor path:hover {
  stroke-width: 2px;
}

.battlefield-anchor.actionable path:hover {
  stroke-width: 5px;
}

.battlefield svg,
.battlefield canvas {
      position: absolute;
}
