{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends 'form_table_layout.html.twig' %}

{% block form_row %}
    <td style="text-align:right;">{{ form_label(form) }}</td>
    <td>{{ form_errors(form) }}{{ form_widget(form) }}</td>
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
        {% if attr.help is defined %}
         title="{{ attr.help|trans({}, translation_domain) }}"
        {% endif %}>
        {{ label|trans({}, translation_domain) }}
        {% if attr.note is defined %}
            <span style="font: 11px normal; font-family: arial;">({{ attr.note }})</span>
        {% endif %}
        
        {# If there is an attribute help given, then we display the help icon with the title #}
        {% if attr.help is defined %}
            <img src="/bundles/lldc/images/icons/help.png" class="help" />
        {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
    {% for error in errors %}
        <div class="error">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</div>
    {% endfor %}
{% endblock form_errors %}

{% block form_rows %}
    <table class="internal_block" align="center">
    {% for child in form %}
        <tr>{{ form_row(child) }}</tr>
    {% endfor %}
    </table>
{% endblock form_rows %}
